 .jumbotron{
	 background-color: #EE8B4D;
	 color: #ffffff;
 }
 
 .panel-body{
	 height:320px;
 }
 
 .col-md-4{
	 background-color: #EE8B4D;
	 color: #ffffff;
	 border: 2px solid;
     border-radius: 15px;
 }
 
  .col-md-6{
	 background-color: #EE8B4D;
	 color: #ffffff;
	 border: 2px solid;
     border-radius: 15px;
 }